@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        Group Calendaring Made Easy!
    </h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Organizers - Simple & Effective Scheduling</h2>
        <p>
            Forget Excel or Google sheet! Managing different types of events - mandatory, breakouts, 1 on 1, group activities, Slots to book, just about any type of events is a breeze!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Attendees - Pick and choose specific events!</h2>
        <p>Forget double checking shared excel or Goolge sheet, missing important events, unncessary blocking of calendar, cross referencing, before booking meetings!</p>
    </div>
    <div class="col-md-4">
        <h2>1 Calendar - at any point of the time!</h2>
        <p>Organizers manage only one calendar with ez! Attendees get one calendar according to their preferences! Everything automatically synced! </p>
    </div>
</div>